/* Reset */
*{
    margin: 0;
    padding: 0;
}


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Parisienne&family=Raleway:wght@300;400&display=swap');


/* General distribution */
body{
    position: relative;
    min-height: 100vh;
    flex-wrap: wrap;
    background-color: #FCFCFC;
}

section{
    padding: 5px;
    margin: 5px;
}

a{
    color: white;
}

a:hover{
    color: #F6BC5E;
}